<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/loginScreen.css" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="row col-sm-offset-4 col-sm-4 login-form">
                {form login, class => row}
                    <div class="form-group">
                        {label email /}
                        {input email class => form-control}
                    </div>
                    <div class="form-group">
                        {label password /}
                        {input password class => form-control}
                    </div>
                    <div class="form-group">
                        {input submit class => form-control}
                    </div>
                {/form}
            </div>
        </div>
    </body>
</html>