@media (min-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .login-form {
        margin-top: 33vh;
        padding: 20px 40px;
        border: 1px solid #d6d6d6;
        border-radius: 10px;
        box-shadow: -1px -1px 5px -2px #a5a5a5;
    }

}
@media (max-width: 767px) {
    .login-form {
        margin-top: 0;
    }

    .container {
        margin: 15px;
    }
}